# OS-specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# IDEs and editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Python Virtual Environment
.venv/
venv/
ENV/
env/
active_env/

# Jupyter Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Pytest / Linting
.pytest_cache/
.ruff_cache/
.mypy_cache/

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log

# Terraform sensitive variables
*.tfvars
*.tfvars.json

# Override lock file to allow committing it (Terraform best practice)
!**/.terraform.lock.hcl
